<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:用户名="http://www.w3.org/1999/xhtml"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>今年头舒服的沙发上对方</title>
</head>
<body>

<div id="root"></div>

<span th:text="hello123"></span>

<form action="/login/loginPage" method="get">
   <font color=red ><b>用户名:</b></font>  <input type="text" name="name" />
    <font color=green ><b>密码:</b></font> <input type="text" name="pw" />
    <input type="submit" value="登录" />
</form>

<form action="/login/marry" method="get">
    <font color=red ><b>办理结婚证，请输入年龄:</b></font>  <input type="text" name="age" />
    <font color=green ><b></b></font> <input type="text" name="pw" />
    <input type="submit" value="验证" />
</form>

<a href="https://lol.qq.com/" target="_blank">点我</a>


<!--<div><img src="../img/lol.jpg"/></div>-->

<h2 style="background-color:yellow;">这是一个标题</h2>
<p style="background-color:green;">这是一个段落。</p>
<h1 style="text-align:left;">居中对齐的标题</h1>


<p id="demo">点击按钮获取您当前坐标（可能需要比较长的时间获取）：</p>
<button onclick="getLocation()">点我</button>
<script>
    var x=document.getElementById("demo");
    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
        else
        {
            x.innerHTML="该浏览器不支持获取地理位置。";
        }
    }

    function showPosition(position)
    {
        x.innerHTML="纬度: " + position.coords.latitude +
            "<br>经度: " + position.coords.longitude;
    }
</script>

<div>music</div>

<audio controls height="100" width="100">
    <source src="../img/123.mp3" type="audio/mpeg">
    <embed height="50" width="100" src="../img/123.mp3">
</audio>

<div class="container">
    <ul class="imgcss">
        <li>
            <img src="../img/ccc.jpg">
        </li>
        <li>
            <img src="../img/xingxing.jpg">
        </li>

    </ul>
</div>



</body>
</html>